fastapi==0.115.8
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pandas==2.2.3
numpy==2.2.2
scikit-learn==1.6.1
matplotlib==3.10.0
seaborn==0.13.2
langchain==1.0.0
langchain-classic==1.0.0
langchain-openai==1.0.1
openai==1.109.1
pydantic==2.10.6
